/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
li {
    list-style: none;
}
button {
    height: 25px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}
button:disabled {
    background-color: gainsboro;
}
input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 10px;
}
input:focus {
    outline: 0;
    border-color: rgb(29, 28, 28);
}